body {
  margin 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Delius', cursive;
  font-size: 24px;
  background-color: blanchedalmond;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 75px;
  width: 100%;
}

nav div {
  background-color: rgb(164, 187, 173);
  margin: 15px;
  padding: 10px;
  align-items: center;
  border-radius: 0 10px 0 10px;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid burlywood;
  font-family: 'Delius', cursive;
}

section > div {
  background-color: burlywood;
  border: 3px solid rgb(164, 187, 173);
}

h1 {
  font-family: 'Delius', cursive;
  font-size: 32pt;
}
.imageGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: white;
}

div > div {
  border: 1px solid rgb(164, 187, 173);
  padding: 20px;

}
