body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Delius', cursive;
  font-size: 30px;
  background-image: url(./backgroundWithPattern.png);
}

h1 {
  font-family: 'WindSong', cursive;
  font-size: 60pt;
  color: goldenrod;
  -webkit-text-stroke: 1px black;
}

/*Navigation Bar Start*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 75px;
  width: 100%;
}
nav div {
  background-color: rgb(164, 187, 173);
  margin: 15px;
  padding: 10px;
  align-items: center;
  border-radius: 0 10px 0 10px;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid goldenrod;
  font-family: 'Delius', cursive;
}
section > div {
  background-color: goldenrod;
  border: 3px solid rgb(164, 187, 173);
}
/*Navigation Bar End*/

/*Image Grid Start*/
.imageGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ImageGridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageGridItem img {
  width: 350px;
  height: 400px;
  object-fit: contain;
  object-position: center;
}
div > div {
  border: 1px solid burlywood;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}
